* {
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
}

body {
    width: auto;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    margin: 50px 130px 50px 100px;
}

.header_logo > img {
    width: 150px;
    height: 150px;
}

.header_title {
    height: 150px;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_title > div {
    height: 93px;
    width: 89%;
    border-bottom: 4px solid #d5cfc7;
    border-radius: 20px;
    margin-right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.header_btn {
    width: 8%;
    height: 150px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.header_btn_btn {
    width: 93px;
    height: 93px;

    border-radius: 20px;

    color: #262020;
    font-size: 45px;

    border: 4px solid #262020;

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 60.5%;
    height: 400px;

    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.section_main {
    width: 50%;
    height: 80%;
    margin-right: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.section_main_day {
    width: 80%;
    height: 20%;
    border: 4px solid #d5cfc7;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.section_main_img {
    width: 80%;
    height: 60%;
}

.section_main_img > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.section_kcal {
    width: 50%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.section_kcal > div {
    width: 60%;
    height: 10%;
    border-bottom: 4px solid #d5cfc7;
    border-radius: 20px;
}

.section_kcal > div:first-child {
    height: 15%;
    width: 80%;

    border: 4px solid #d5cfc7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_kcal_main_menu,
section_kcal_sub_menu {
    margin-right: 80px;
}

.section_kcal_main,
.section_kcal_sub{
    margin-left: 80px;
    text-align: end;
}

/* -----------------sub.html------------------------ */
.mycards{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#cards-box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col{
    max-width: 370px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: auto 50px auto 50px;
}
.food{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.time{
    background-color: lightslategray;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0px;
}
.image{
    background-color: burlywood;
    width: 100%;
    height: 170px;
}
.form-floating{
    width: 95%;
    margin: auto 5px auto 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#comment-list{
    width: 95%;
    margin: 5px;
    max-height: 220px;
    height: 100%;
    border: 1px solid lightgray;
}
